.add-candidate-container{
  border: 2px solid rgb(135, 109, 245);
  border-radius: 5px;
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
  gap: 2rem;
  font-style: italic;
  color:rgba(5, 5, 5, 0.5);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.form-group{
  position: relative;
  width: 300px;
}


.name-input,.lastName-input,.lastName-input,.telefono-input,.correo_electronico-input,.direccion-input,.descripcion-input{
  width: 80%;
  padding: 5px 0;
  border: 2px #070707 ;
  border-bottom: 2px solid rgba(128, 128, 128, 0.413); 
  outline: none; 
  background: transparent;
  color: #070707;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.name-label,.lastName-label,.lastName-label,.telefono-label,.correo_electronico-label,.direccion-label,.descripcion-label
{
  position: absolute;
  left: 0;
  padding: 10px 5px;
  color: rgba(5, 5, 5, 0.5);
  font-size: 1.4rem;
  pointer-events: none;
  transition: 0.5s;
  display: flexbox; 
  font-weight:lighter;
  font-style: italic;
}

.name-input:valid ~ label,
.lastName-input:valid ~ label,
.telefono-input:valid ~ label,
.correo_electronico-input:valid ~ label,
.direccion-input:valid ~ label,
.descripcion-input:valid ~ label,
.name-input:focus ~ label,
.lastName-input:focus ~ label,
.telefono-input:focus ~ label,
.correo_electronico-input:focus ~ label,
.direccion-input:focus ~ label,
.descripcion-input:focus ~ label 
{
transform: translateY(-1.5rem);
color: rgba(175, 172, 172, 0.5);
font-size: 0.75em;
}

.submit-button {
  background-color: rgb(135, 109, 245);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  font-style: italic;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
