.nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5vh;
    }
    
    .nav a {
    display: inline-block;
    position: relative;
    color:black;
    margin: 3vh;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
    text-decoration: none;
    }
    
    .nav a:hover{
    color: #cdcdcd;
    transition: 0.4s all ease;
    }
    
    .nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: -5px;
        left: 0;
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
    }
    
    .nav a:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
        background-color: blue;
    }
    
    .nav a.active{
        color: #cdcdcd;
    }